{{ define "main" }}

<section class="about-section-four pt-2">

    <div class="auto-container">
        {{/* <div class="row clearfix">
            <div class="service-block-five col-6 col-sm-3 col-md-3 col-lg-2 col-xl-2 wow fadeInUp" data-wow-delay="0ms"
                data-wow-duration="2000ms">
                <a href="#">
                    <div class="inner-box">
                        <div class="solarimage-box p-0">
                            <div class="content">
                                <img src="/images/SolarModules.jpg">
                                <div class="text text-center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label text-black" for="defaultCheck1">
                                            Solar Modules
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="service-block-five col-6 col-sm-3 col-md-3 col-lg-2 col-xl-2 wow fadeInUp" data-wow-delay="0ms"
                data-wow-duration="2000ms">
                <a href="#">
                    <div class="inner-box">
                        <div class="solarimage-box p-0">
                            <div class="content">
                                <img src="/images/SolarInverters.jpg">
                                <div class="text text-center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                        <label class="form-check-label text-black" for="defaultCheck2">
                                            Solar Inverters
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
            <div class="service-block-five col-6 col-sm-3 col-md-3 col-lg-2 col-xl-2 wow fadeInUp" data-wow-delay="0ms"
                data-wow-duration="2000ms">
                <a href="#">
                    <div class="inner-box">
                        <div class="solarimage-box p-0">
                            <div class="content">
                                <img src="/images/Storage.jpg">
                                <div class="text text-center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                                        <label class="form-check-label text-black" for="defaultCheck3">
                                            Storage
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
            <div class="service-block-five col-6 col-sm-3 col-md-3 col-lg-2 col-xl-2 wow fadeInUp" data-wow-delay="0ms"
                data-wow-duration="2000ms">
                <a href="#">
                    <div class="inner-box">
                        <div class="solarimage-box p-0">
                            <div class="content">
                                <img src="/images/Mounting.jpg">
                                <div class="text text-center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                                        <label class="form-check-label text-black" for="defaultCheck4">
                                            Mounting
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
            <div class="service-block-five col-6 col-sm-3 col-md-3 col-lg-2 col-xl-2 wow fadeInUp" data-wow-delay="0ms"
                data-wow-duration="2000ms">
                <a href="#">
                    <div class="inner-box">
                        <div class="solarimage-box p-0">
                            <div class="content">
                                <img src="/images/Services.jpg">
                                <div class="text text-center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                                        <label class="form-check-label text-black" for="defaultCheck5">
                                            Services
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
            <div class="service-block-five col-6 col-sm-3 col-md-3 col-lg-2 col-xl-2 wow fadeInUp" data-wow-delay="0ms"
                data-wow-duration="2000ms">
                <a href="#">
                    <div class="inner-box">
                        <div class="solarimage-box p-0">
                            <div class="content">
                                <img src="/images/Electricals.jpg">
                                <div class="text text-center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                                        <label class="form-check-label text-black" for="defaultCheck6">
                                            Electricals
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
        </div> */}}
        <div class="row">
            {{/* <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <div class="row">
                    <div class="col-4 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <a href="#"><img src="/images/solaredge.png" class="brandlogo"></a>
                    </div>
                    <div class="col-4 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <a href="#"><img src="/images/jasolar.png" class="brandlogo"></a>
                    </div>
                    <div class="col-4 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <a href="#"><img src="/images/jinkosolar.png" class="brandlogo"></a>
                    </div>
                    <div class="col-4 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <a href="#"><img src="/images/longi.png" class="brandlogo"></a>
                    </div>
                    <div class="col-4 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <a href="#"><img src="/images/risen.png" class="brandlogo"></a>
                    </div>
                    <div class="col-4 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <a href="#"><img src="/images/huawei.png" class="brandlogo"></a>
                    </div>
                    <div class="col-4 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <a href="#"><img src="/images/canadiansolar.png" class="brandlogo"></a>
                    </div>
                    <div class="col-4 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <a href="#"><img src="/images/solis.jpeg" class="brandlogo"></a>
                    </div>
                    <div class="col-4 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <a href="#"><img src="/images/sungrow.png" class="brandlogo"></a>
                    </div>
                    <div class="col-4 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <a href="#"><img src="/images/goodwe.png" class="brandlogo"></a>
                    </div>
                </div>
            </div> */}}
            <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
                {{ range where .Site.RegularPages "Type" "in" "service-section" }}
                <div class="row">
                    <div class="col-md-12">
                        <div class="sec-title mb-0">
                            <h2>{{ .Params.service_title }}</h2>
                        </div>
                        <input type="text" id="val" value="{{ .Params.type }}" hidden>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img src="{{ .Params.service_banner_image }}"><br><br>
                        <div class="text text-justify">
                            <a href="{{ .Params.datasheet_pdf_link }}"><i class="fa fa-file" aria-hidden="true"
                                    style="color: #ff6600;"></i><span class="producttitle">
                                    Details</span></a>
                        </div><br>
                        <div class="sec-title mb-0">
                            <h2 class="pricetxt">Price: $ {{ .Params.service_price }}</h2>
                        </div>
                        <div class="text-content text-justify mb-3" id="cart_button {{.Params.service_title}}">
                            <button id="add-to-cart-btn"
                                onclick="addToCart('{{ .Params.service_title}}','{{ .Params.service_banner_image}}','{{ .Params.service_price}}','{{ .Params.type}}')"
                                class="mt-3 round_shadow_button_orange m-0">Add to Cart </button>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>

        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function (event) {
                let cart = JSON.parse(localStorage.getItem("cart"))
                loadCart(cart)
            })
            function loadCart(cart) {
                if (cart) {
                    cart.forEach((item, i) => {
                        document.getElementById('cart_button '+item.title).innerHTML = ""
                        body = '<button class="mt-3 round_shadow_button_green m-0" disabled>Added  <span><i class="fa fa-check" aria-hidden="true"></i></span></button>'
                        document.getElementById('cart_button '+item.title).innerHTML += body
                    });
                }
            }

            function addToCart(title, img, price, type) {
                let cart = JSON.parse(localStorage.getItem("cart"))
                let curData = {
                    title: title,
                    image: img,
                    price: price,
                    qty: 1,
                    type: type
                }
                if (!cart) {
                    cart = [curData]
                    localStorage.setItem("cart", JSON.stringify(cart))
                } else {
                    let hasData = "0"
                    cart.forEach((item, i) => {
                        if (item.title === title) {
                            cart[i].qty = cart[i].qty + 1
                            hasData = "1"
                        }
                    })
                    if (hasData === "0") {
                        cart.push(curData)
                    }
                    localStorage.setItem("cart", JSON.stringify(cart))
                    loadCart(cart)
                }
            }
        </script>
</section>
{{ end }}