{{ define "main" }}
    
<section class="about-section-four">

    <div class="auto-container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="inner">
                    <div class="text-content text-center mb-3">
                        <h2 class="font-weight-bold">Thank you for choosing our product 
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}