{{ define "main" }}
    
<section id="image-block" class="image-block p-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
          <div class="text-justify">
            <h2 class="disclaimer">{{ .Params.heading }}</h2>
            {{/*  <h2 style="text-align: center", >{{ .Params.heading }}</h2><br>   */}}
            <p class="text-justify">{{ .Content }}</p>
          </div>
          <div class="gap-30"></div>
          
        </div>
      </div>
    </div>
  </section>
{{ end }}